{%extends "base.html"%}

{%block title%}Home{% endblock %}

{%block body%}
    <div class="jumbotron">
        <h1>RPI-Video</h1>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h1>A videoplayer for the Raspberry Pi</h1>
			<h3>Using youtube-dl and OMXPlayer this tool supports many different sources of streaming video.</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4>Recently played videos</h4>
            <p>While there are many other flask templates out there, far too many are either structured poorly or are tied down to a specific method of deployment, or both.</p>
            <p>So Flask Foundation has a best practices setup with blueprints and SQLAlchemy models that will allow you to grow cleanly</p>
        </div>
    </div>


{%endblock%}
